/* For index.html (Home Page) */
*{
    font-family:'Courier New', Courier, monospace;
    background-color: #E7ECEF;
}

.wrapper{
    display: grid; 
    grid-template-columns: 0fr 1fr 1fr; 
    grid-template-rows: 0fr 1fr 0fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". title new-log-wrapper"
        ". log-wrapper new-log-wrapper"
        ". . ."; 
    border:#274C77;
    border-width: 5px;
    border-style: solid;
    justify-content: center;
}

.log-wrapper{
    grid-area: log-wrapper;
    border-top:#274C77;
    border-top-style: solid;
    border-width: .2em;
    padding: 5px;
}

.new-log-wrapper{
    grid-area: new-log-wrapper;
    text-align: center;
    justify-items: center;
    border-left:#274C77;
    border-left-style: solid;
    border-width: .4em;
}

.title{
    grid-area: title;
    padding-left: 1em;
}

.create-new{
    position: relative;
    top: 40%;
    background-color: #274C77;
    color: #E7ECEF;
    font-size: 3em;
    width: 1.2em;
    text-align: center;
    border-radius: 1em;
}