/* universal */
.back-button{
  background-color: #274C77;
  color: white;
  margin: 1em;
}

/* For index.html (Home Page) */
*{
    font-family:'Courier New', Courier, monospace;
    background-color: #E7ECEF;
}


.wrapper{
    display: grid; 
    grid-template-columns: 0fr 2fr 1fr; 
    grid-template-rows: 0fr 1fr 0fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". title new-log-wrapper"
        ". log-wrapper new-log-wrapper"
        ". . ."; 
    border:#274C77;
    border-width: 5px;
    border-style: solid;
    width: 80%;
    height: 30em;
    margin: auto;
    margin-top: 15vh;
    min-width: 500px;
}

.log-wrapper{
    grid-area: log-wrapper;
    border-top:#274C77;
    border-top-style: solid;
    border-width: .2em;
    padding: 5px;
}

.new-log-wrapper{
    grid-area: new-log-wrapper;
    text-align: center;
    justify-items: center;
    border-left:#274C77;
    border-left-style: solid;
    border-width: .4em;
}

.title{
    grid-area: title;
    padding-left: 1em;
}

.create-new{
    position: relative;
    top: 40%;
    background-color: #274C77;
    color: #E7ECEF;
    font-size: 3em;
    width: 1.2em;
    text-align: center;
    border-radius: 1em;
}

.create-new:hover{
  background-color: rgb(87, 20, 15);
  transition: .3s;
}

.log-title{
  background-color: transparent;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(15, 30, 82);
}

.log-date{
  position: absolute;
  margin-top: 80px;
  margin-left: 10px;
  font-size: 15px;
  color: white;
  font-style: italic;
  font-weight: bold;
  padding:5px 10px 5px 10px;
  background-color:rgba(3, 23, 58, 0.5);
}

.log-display-img{
  width: 100%;
  min-width: 200px;
}

.log-wrapper {
  grid-area: log-wrapper;
  overflow: scroll;
  
}

.open-log{
  float: right;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 10%;
  RIGHT: 1%;
  transform: translate(-50%, -50%);
  margin-top: 5.5em;
  border-color: transparent;
  background-color:#274C77;
  color:white;
}

.open-log:hover{
  background-color: rgb(87, 20, 15);
  transition: .3s;
}
button {
  margin: auto;
}

.log-display{
  background-color: rgb(169, 182, 200);
  overflow: hidden;
  width: 100%;
  height: 150px;
  display: flow-root;
  margin-top: 1em;
  position: relative;
}

/* page 2: (New Log Page) */

.Log {
    gap: 0px 0px; 
    border:#274C77;
    border-width: 5px;
    border-style: solid;
    width: 80%;
    height: 85vh;
    margin: auto;
    margin-top: 5vh;
    min-width: 500px;
    overflow-y: scroll;
    overflow-x: hidden
}
.banner-container {
  background-image: url('./main-photo.jpg') ;  margin-bottom: 20px;
  overflow: hidden;
  padding: 1em 0 1em 1em;
  margin-bottom: 0;
}

.box{
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 2em;
}

/* .edit-page-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: 1px solid #000;
  padding: 6px 12px;
  cursor: pointer;
  color: #000;
} */

/* .top-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
} */
/* 
.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title-wrapper input {
  background: none;
  border: none;
  color: #000;
  font-family: inherit;
  padding: 0;
} */
/* 
.title-wrapper input::placeholder {
  color: #000;
} */

.banner-content{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: transparent;
  gap: 6px;
}

.trip-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.trip-location {
  font-size: 1.2rem;
  font-weight: 600;
}

.trip-dates {
  font-size: 1rem;
  font-weight: 400;
}

.main-image img {
  width: 180px;
  height: auto;
  display: block;
}

.notes-textarea,
.itinerary-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #000;
  color: #000;
  padding: 8px;
  font-family: inherit;
}

.photos-box {
  width: 100%;
  height: 240px;
  border: 1px solid #000;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.photos-box::-webkit-scrollbar {
  width: 14px;
}

.photos-box::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.photos-box::-webkit-scrollbar-thumb {
  background: #7a7a7a;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photos img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: block;
}

.add-more-photos-btn {
  margin-top: 10px;
  background: none;
  border: 1px solid #000;
  padding: 6px 12px;
  cursor: pointer;
  color: #000;
}

.placeholder-box {
  border: 1px solid #000;
  height: 120px;
  padding: 10px;
}

.save-entry-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  background: none;
  cursor: pointer;
  color: #000;
}