/* universal */
.back-button {
  background-color: #274c77;
  color: white;
  margin: 1em;
}

/* For index.html (Home Page) */
* {
  font-family: "Courier New", Courier, monospace;
}

body{
    background-color: #040513;
}


.wrapper{
    display: grid; 
    grid-template-columns: 0fr 2fr 1fr; 
    grid-template-rows: 0fr 1fr 0fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". title new-log-wrapper"
        ". log-wrapper new-log-wrapper"
        ". . ."; 
    border:5px solid #274C77;
    border-radius: 50px 50px 50px 0;
    width: 80%;
    height: 30em;
    margin: auto;
    margin-top: 15vh;
    min-width: 500px;
}

.log-wrapper {
  grid-area: log-wrapper;
  border-top: #274c77;
  border-top-style: solid;
  border-width: 1em;
  padding: 5px;
  overflow-x: hidden;
  scrollbar-color: #bed2e9 #274C77;
  scrollbar-width: thin;
  background-color:#274C77;
}

.new-log-wrapper {
  grid-area: new-log-wrapper;
  text-align: center;
  justify-items: center;
  border-left: #274c77;
  border-left-style: solid;
  border-width: 0.4em;
  border-radius: 0 40px 40px 0;
  background-color:#274C77;
}

.title {
  grid-area: title;
  color:#274C77;
  width: 100%;
  border-radius: 45px 0 0 0;
  background-color: #bed2e9;
}

h1{
  color:#274C77;
  background-color: transparent;
  font-size: 2.7em;
  font-size: #bed2e9;
  margin-left: 40%;
  font-family: 'Lucida Console', Courier, monospace;
}

.create-new {
  position: relative;
  top: 40%;
  background-color: #bed2e9;
  color: #274C77;
  border-color: transparent;
  font-size: 3em;
  width: 1.2em;
  text-align: center;
  border-radius: 1em;
  transition: .3s;
}

.create-new:hover {
  background-color: rgb(51, 118, 173);
  color: #bed2e9;
  width: 2em;
  cursor: pointer;
  transition: .3s ease-in-out;
}
button {
  margin: auto;
}

/* page 2: (New Log Page) */

.Log {
  gap: 0px 0px;
  border: #274c77;
  border-width: 5px;
  border-style: solid;
  width: 80%;
  height: 85vh;
  margin: auto;
  margin-top: 5vh;
  min-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #bed2e9;
}

input{
  background-color: #bed2e9;
}

.banner-container {
  background-image: url("./main-photo.jpg");
  margin-bottom: 20px;
  overflow: hidden;
  padding: 1em 0 1em 1em;
  margin-bottom: 0;
}

h2, p, button{
  background-color: #bed2e9;
}

.box {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 2em;
  background-color: #bed2e9;
}

/* .edit-page-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: 1px solid #000;
  padding: 6px 12px;
  cursor: pointer;
  color: #000;
} */

/* .top-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
} */
/* 
.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title-wrapper input {
  background: none;
  border: none;
  color: #000;
  font-family: inherit;
  padding: 0;
} */
/* 
.title-wrapper input::placeholder {
  color: #000;
} */

.banner-content {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: transparent;
  gap: 6px;
}


.add-banner-btn{
  float: right;
  width: 30%;
  border-right: transparent;
}

.trip-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.trip-location {
  font-size: 1.2rem;
  font-weight: 600;
}

.trip-dates {
  font-size: 1rem;
  font-weight: 400;
}

.main-image img {
  width: 180px;
  height: auto;
  display: block;
}

.notes-textarea,
.itinerary-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #000;
  color: #000;
  padding: 8px;
  font-family: inherit;
  background-color: #bed2e9;
}

.photos-box {
  width: 100%;
  height: 240px;
  border: 1px solid #000;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  background-color: #bed2e9;
}

.photos-box::-webkit-scrollbar {
  width: 14px;
}

.photos-box::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.photos-box::-webkit-scrollbar-thumb {
  background: #7a7a7a;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photos img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: block;
  background-color: #bed2e9;
}

.add-more-photos-btn {
  margin-top: 10px;
  background: none;
  border: 1px solid #000;
  padding: 6px 12px;
  cursor: pointer;
  color: #000;
}

.placeholder-box {
  border: 1px solid #000;
  height: 120px;
  padding: 10px;
}

.save-entry-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  background: none;
  cursor: pointer;
  color: #000;
}

#map,
#mapView {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}

/* for page3: (View Log Page) */

/* Media Queries */
